.login{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 70%;
    height: 90%;
    display:flex;
}

.loginLeft,.loginRight{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size:50px;
    font-weight: 800;
    color:#E6D0CE
}
.loginDesc{
    font-size: 24px;
}
.registerBox{
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 15px -8px black;
}
.registerBoxForm{
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.loginInput{
    height: 50px;
    border-radius: 10px;
    border:1px solid gray;
    font: size 18px;
    padding-left: 20px;
}
.loginInput:focus{
    outline:none
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border:none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.loginForgot{
    text-align: center;
    color:#E6D0CE;

}
.loginRegisterLink{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.loginRegisterButton{
    width: 50%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border:none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;    
}
.errorMessage{
    margin: 10px;
    color:red;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 850px){
    .loginWrapper{
        flex-direction: column !important;
    }
    .loginLogo{
        font-size: 40px !important;

    }
    .loginDesc{
        font-size: 20px !important;
    }
    .loginLeft{
        margin-bottom:10px !important;
        flex:2 !important;
    }
    .loginRight{
        flex:8 !important;
        justify-content: flex-start !important;
    }
    .registerBoxForm{
        height:75% !important;
    }
    .loginRegisterButton{
        width: 200px !important;
    }
}