.feed{
    flex:5;
}
.onLoading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedWrapper ::-webkit-scrollbar{
    display: none;
}
.feddScrollbar::-webkit-scrollbar{
    display: none;
}