.feed{
    flex:5;
    
}
.onLoading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedWrapper ::-webkit-scrollbar{
    display: none;
}
.feddScrollbar::-webkit-scrollbar{
    display: none;
}

@media(max-width: 850px){
    .feed{
        margin-left: 20px;
        margin-right: 20px;
    }
}