.post{
    width:100%;
    border-radius: 10px;
    margin:30px 0;
    /* box-shadow */
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}
.postWrapper{
    padding: 10px;
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft{
    display: flex;
    align-items: center;
}

.postProfileImg{
    width:32px;
    height:32px;
    border-radius:50%;
    object-fit:cover;

}

.postUsername{
    font-size:15px;
    font-weight: 500;
    margin: 0 10px
}
.postDate{
    font-size:12px
}
.postCenter{
    margin:20px 0;
}
.postImg{
    margin-top:20px;
    width: 100%;
    max-height:500px;
    object-fit: contain;
}
.postBottom{
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;
}
.likeIcon{
    width:32px;
    height:32px;
    cursor: pointer;
    object-fit: cover;
}
.HeartIcon{
    width:20px;
    height:20px;
    margin-right:5px;
    cursor: pointer;
    object-fit: cover;
}
.postLikeCounter{
    font-size:15px
}
.postCommentText{
    cursor:pointer;
    border-bottom: 1px dashed gray;
    font-size:15px;

}
.postHr{
    margin:20px 0;

}
.postFunctionArea{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.postFunction{
    display: flex;
    align-items: center;
    cursor:pointer
}
.postSendCommentImg{
    width:32px;
    height:32px;
    border-radius:50%;
    object-fit:cover;
    margin-right:10px;
}
.Function{
    margin-left:5px;
}
.postSingleComment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3%;
    font-size:13px;
}
.postSingleCommentMain{
    display: flex;
    align-items: center;
}
.postCommentTime{
    margin-left: 20%;
    color:#90949c
}
.postCommentArea{
    background-color: #F2F3F5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 8px 12px;

}
.postCommentUsername{
    margin-left: 5px;
    margin-bottom:1px;
}
.postCommentContent{
    margin-left: 5px;
}
.commentSendArea{
    width: 90%;
    height: 30px;
    background-color: #F2F3F5;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.postSendComment{
    display: flex;
    align-items: center;
}
.postSendInput{
    margin-left:2%;
    border:none;
    width:100%;
    background-color: #F2F3F5;
}
.postSendInput:focus{
    /* 去除掉點擊時的邊界 */
    outline:none
}
